main .text{
    color: #888888;
    margin: 3% 0;
    text-align: center;
    font-size: 1.5em;
}

main .line{
    width: 100%;
    text-align: center;
}

main .line button{
    display: inline;
    color: white;
    background-color: #90C320;
    border: 0;
    border-radius: 100%;
    width: 1.2em;
    height: -1em;
    font-size: 2.5em;

}

main .line label{
    display: inline;
    color: #90C320;
    font-size: 2.5em;
    margin-left: 1%;
}

main .line button:hover, main .line label:hover{
    cursor: pointer;
}