body{
	font-family: 'Poppins';
	
}

html{
	scroll-behavior: smooth;
}

section{
	min-height: 100vh;
	padding-top: 7vh;
}

nav{
	width: 100vw;
	height: 14vh;
	display: flex;
	align-items: center;
	color: #263238;
	background-color: #E16A3D;
	position: fixed;
}

nav h1{
	font-size: min(80px, 12vw);
	padding: 1% 0;
	color: #263238;
	text-transform: uppercase;
}

nav ul{
	margin-left: auto;
	margin-right: 3%;
	display: flex;
	list-style: none;
	color: #263238;
	gap: 2rem;
	font-size: 20px;
}

nav a{
	text-decoration: none;
}

#inicio{
	display: flex;
	justify-content: center;
	align-items: center;
}

.textAside{
	width: 45%;
	display: inline-block;
	text-align: center;
	margin-right: 5%;
	background-color: rgba(225, 106, 61, 0.28);
	border-radius: 57% 40% 50% 40%;
}

#inicio .textAside h1, #sobre h1, #contato h1{
	font-size: min(60px, 9vw);
	font-weight: bold;
	margin-bottom: 4%;
	text-align: center;
	color: #263238;
	
}

p{
	font-size: 1.2em;
	width: 70%;
	margin: 0 auto;
}

img{
	width: 40%;
}

nav a:hover{
	color: white;
	transition: 0.7s;
	font-size: 1.5em;
}

nav a:not(:hover){
	color: #263238;
	transition: 0.7s;
}

#sobre{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#contato{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

#contato .form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media screen and (max-width: 1140px){
	section{
		padding-top: 16vh;
	}
	
	#inicio{
		display: flex;
		flex-direction: column;
	}

	img{
		min-width: 420px;
		margin-top: 5%;
	}
}

@media screen and (max-width: 780px){
	nav ul{
		opacity: 0;
	}
}