body{
	height: 100%;
	font-family: 'Poppins';
	overflow: hidden;
}

main{
	width: 70vw;
	height: 60vh;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: auto;
	padding: 20vh 0;
}

/* Partes (Lados) - Esquerda e Direita */
.part{
	width: 50%;
	height: 60vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	box-shadow: 20px 20px 100px 10px #171717;
	box-sizing: content-box;
}

/* Lado Esquerdo - Apresentação */
#leftSide{
	border-radius: 6% 0 0 6%;
	background-color: #1c5407;
}

#leftSide h1{
	text-align: left;
	text-transform: uppercase;

	font-size: min(50px, 6vw);
	color: #90C336;

	padding: 5%;
	margin-bottom: 3%;
}

#leftSide img{
	width: 55%;
	margin: 0 auto;
}

/* Lado Direito - LOGIN */
#rightSide{
	border-radius: 0 6% 6% 0;
	background-color: #edebe4;
}

#rightSide h1{
	text-align: left;

	font-size: min(50px, 6vw);

	padding: 5%;
}

#rightSide .form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	width: 70%;
	
	margin: 0 auto;
	line-height: 1.5;
	padding-bottom: 3%;
}

#rightSide .form label{
	font-size: min(30px, 4vw);
	margin-left: 1%;
}

#rightSide .form input[type="text"], #rightSide .form input[type="password"]{
	width: 100%;
	height: 3vh;

	border: 1px solid black;
	border-radius: 50px;

	margin-bottom: 3%;
}

#rightSide .form .helpLine{
	width: 90%;
	margin: 0 auto;
	margin-left: 5%;
}

#rightSide .form .helpLine label{
	width: 40%;
	font-size: 14px;
	margin-left: -5%;
	margin-right: 11.5%;
}

#rightSide .form .helpLine a{
	width: 40%;
	font-size: 14px;
	text-decoration: none;
	color: black;
}

#rightSide .form button{
	margin: 3% auto;

	width: 60%;

	padding: 3%;
	border: 0;
	border-radius: 6em;

	color: white;
	background-color: #1c5407;

	font-size: 20px;
}

#rightSide .form .div{
	width: 100%;
	height: 2.2px;
	margin: 2% 0;
	background-color: grey;
}

#rightSide .form p{
	margin: 0 auto;
	color: #1c5407;
}

#rightSide .form button:hover{
	cursor: pointer;
}

/* POPUP Criar Conta */
.popup-wrapper{
	display: none;
	background: rgba(0,0,0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Padrão Início dos Popup's */
.contas, .cliente, .catador, .catador2{
	display: none;
	text-align: center;
	width: 100%;
	padding: 20px;
	background-color: white;
	position: relative;
	border-radius: 5%;
	box-shadow: 0px 0px 40px 10px black;
}

/* CONTAS */
.contas{
	display: flex;
	flex-direction: column;
	max-width: 15vw;
	margin: 23.5% auto;
}

.contas button{
	background-color: #1c5407;
	color: white;
	width: 70%;
	padding: 2%;
	text-transform: uppercase;
	font-size: 1.5em;
	border: 0;
	border-radius: 10px;
	margin: 5% 0;
	cursor: pointer;
}

/* CLIENTE | CATADOR*/
.cliente, .catador, .catador2{
	margin: 3vh auto;
	max-width: 35vw;
}

.cliente .popup-content form, .catador .popup-content form{
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

#rightSide .popup-wrapper .cliente .popup-content h1{
	width: 100%;
	color: #1c5407;
	font-size: 2.3em;
	margin: 0 auto;
	padding: 4% 0;
}

#rightSide .popup-wrapper .catador .popup-content h1{
	width: 109%;
	color: #1c5407;
	font-size: 2.3em;
	margin: 0 auto;
	padding: 4% 0;
	margin-left: -4%;
}

.cliente .popup-content form label, .catador .popup-content form label{
	padding: 1% 0;
	font-size: 1.2em;
}

.cliente .popup-content form label:nth-of-type(3), .cliente .popup-content form label:nth-of-type(4), .cliente .popup-content form label:nth-of-type(5), .cliente .popup-content form label:nth-of-type(7), .cliente .popup-content form label:nth-of-type(9), .cliente .popup-content form label:nth-of-type(10), .catador .popup-content form label:nth-of-type(3), .catador .popup-content form label:nth-of-type(4), .catador .popup-content form label:nth-of-type(5), .catador .popup-content form label:nth-of-type(7), .catador .popup-content form label:nth-of-type(9), .catador .popup-content form label:nth-of-type(10){
	margin-top: 3%;
}

.cliente .popup-content form label:nth-of-type(10), .catador .popup-content form label:nth-of-type(10){
	padding: 10px 0;
	text-align: center;
}

.cliente .popup-content form input:not(input[type="radio"]), .catador .popup-content form input:not(input[type="radio"]){
	border: 1px solid #888888;
	border-radius: 10px;
}

.gender{
	text-align: center;
	font-size: 0.8em;
}

.cliente .popup-content form button, .catador .popup-content form button, .catador2 .popup-content form button{
	cursor: pointer;
	background-color: #1c5407;
	color: white;
	width: 45%;
	border: 0;
	border-radius: 10px;
	text-transform: uppercase;
	font-size: 1.5em;
	padding: 2%;
	margin: 0 auto;
	margin-top: 5%;
}

/* x para fechar os Popup's */
.popup-close{
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
}

/* <- para retornar para o Popup de contas */
.popup-return, .popup-return-catador2{
	position: absolute;
	top: 10px;
	left: 15px;
	cursor: pointer;
}

/* CATADOR2 - Segunda Tela criação de conta Catador */
.catador2{
	margin: 13vh auto;
}

.catador2 h2, .catador2 .popup-content form label:first-child{
	width: 100%;
    color: #1c5407;
    font-size: 1.5em;
    padding-top: 5%;
    padding-bottom: 3%;
}

.catador2 .popup-content form label:first-child{
	display: block;
}

.catador2 ul.materiais, .catador2 ul.dias{
    width: 62%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
	text-align: left;
	margin: 0 auto;
}

.catador2 ul.periodo{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
	margin: 0 auto;
}

.catador2 ul.periodo li{
    padding-right:2%;
	margin: 0 auto;
}

.catador2 .popup-content form select{
	font-family: 'Poppins';
	width: 50%;
	background-color: #1c5407;
	color: white;
	height: 2em;
	font-size: 1em;
	border: 0;
	border-radius: 10px;
	text-align: center;
}