body{
	font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

/* Barra Lateral */
.sideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #136A5A;
    text-align: center;
    color: white;
    line-height: 2em;

    position: fixed;
    top: 0;
    left: 0;

    width: 20vw;
    height: 100vh;
}

.sideBar img{
    margin: 10% 0;
    width: 80px;
}

.sideBar h2{
    font-size: 1.7em;
}

.sideBar nav ul li p{
    color: #90C320;
    margin-top: 50%;
    font-size: 1em;
}

.sideBar nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

/* Pa{rte Principal (Nova Coleta) */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 20vw;
    width: 80vw;
    height: 100vh;
    
}

main .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    box-shadow: 0 0 33px 10px #90C320;
    border-radius: 20px;
}

main .box h2{
    color: #90C320;
    font-size: 1.5em;
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
}

.box ul.materiais, .box ul.dias{
    width: 62%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
	text-align: left;
	margin-left: 15%;
}

.box ul.periodo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.box ul.periodo li{
    padding-right:2%;
}

.box button{
    width: 200px;
    padding: 1%;
    margin: 2%;
    color: white;
    background-color: #90C320;
    border: 0;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 1.5em;
}

/**/
.single-input{
    width: 90%;
	position: relative;
	margin-top: 8%;
}

.single-input label{
	position: absolute;
	bottom: 40%;
	left: 0;
	cursor: text;
	transition: all 0.5s ease-in-out;
	font-size: max(20px, 1.5vw);
}

.single-input input{
	width: 100%;
	
	margin-bottom: 2%;	
	border: 0;
	border-bottom: 2px solid #444444;
	outline: 0;
	font-size: max(18px ,1.2vw);
	transition: all 0.5s ease-in-out;
}

.single-input input:focus,
.single-input input:valid{
	border-bottom: 4px solid rgba(144, 135, 32, 0.4);
	
}

.single-input input:focus ~ label,
.single-input input:valid ~ label{ 
	transform: translateY(-2.5em);	
	font-size: max(14px ,1vw);
	color: #90C320;
}

#peso{
    width: 45%;
}

button:hover{
    cursor: pointer;
}