body{
	font-family: 'Poppins';
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 10vh;
    grid-template-areas: "side top"
                         "side main";
    height: 100vh;
}

/* Barra Lateral */
.sideBar{
    grid-area: side;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #136A5A;
    text-align: center;
    color: white;
    line-height: 2em;

    position: fixed;
    top: 0;
    left: 0;

    width: 20vw;
    height: 100vh;
}

.sideBar img{
    margin: 10% 0;
    width: 80px;
}

.sideBar h2{
    font-size: 1.7em;
}

.sideBar nav ul li p{
    color: #90C320;
    margin-top: 50%;
    font-size: 1em;
}

.sideBar nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.sideBar > a:first-of-type{
    text-decoration: none;
    border-radius: 10px;
    border: 0;
    width: 60%;

    margin-top: 30%;

    color: white;
    background-color: #90C320;
    font-family: 'Poppins';
    font-size: 1.1em;
    border: 0;
}

.sideBar > a{
    text-decoration: none;
    color: white;
    margin-top: 10%;
}

.top{
    grid-area: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 20vw; 
    text-align: center;  
    width: 80vw;
    height: 10vh;
    background-color: white; 
}

.top h1{
    color: #90C320;
    font-size: 3.3em;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat{
    background-color: #136A5A;
    border: 0;
    border-radius: 40px;
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 15px;
    right: 5px;
}

.chat img{
    width: 80%;
}

.chat:hover{
    cursor: pointer;
}