<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/newCollect.css" />
  </head>

  <body>
    <main>
      <img src="/images/arvore.png" width="256px" alt="" />

      <div class="text">
        <p>Tem material pra descartar ai?</p>
        <p>
          Clique em Nova Coleta para que alguém possa efetuar a retirada dele
        </p>
      </div>

      <div class="line">
        <button id="newCollect" onclick="newCollect()">+</button>
        <label for="newCollect">Nova Coleta</label>
      </div>
    </main>
  </body>
</html>
