body{
	font-family: 'Poppins';
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1;
    grid-template-areas: "side main";
    height: 100vh;
    
    overflow-x: hidden;
}

/* Barra Lateral */
.sideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #136A5A;
    text-align: center;
    color: white;
    line-height: 2em;

    position: fixed;
    top: 0;
    left: 0;

    width: 20vw;
    height: 100vh;
}

.sideBar img{
    margin: 10% 0;
    width: 80px;
}

.sideBar h2{
    font-size: 1.7em;
}

.sideBar nav ul li p{
    color: #90C320;
    margin-top: 50%;
    font-size: 1em;
}

.sideBar nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

#address{
    border-bottom: 1px solid #90C320;
}

/* Parte Principal (Nova Coleta) */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 20vw;
    width: 80vw;
    height: 100vh;
}

main .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    box-shadow: 0 0 33px 10px #90C320;
    border-radius: 20px;
}

main .box h2{
    color: #90C320;
    font-size: 1.5em;
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
}

input[type="checkbox"]{
    display: none;
}

.address{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    padding: 1%;
    border: 1px solid #90C320;
    line-height: 1.2em;
}

.address:first-of-type{
    margin-top: 0;
}

.address h3{
    color: #90C320;
    font-size: 1.1em;
    padding: 1%;
}

.address strong{
    font-weight: bold;
}

.line{
    margin: 2% 0;
    color: #136A5A;
    font-size: 1.1em;
}

.line button{
    color: white;
    background-color: #136A5A;
    border: 0;
    border-radius: 60%;
}

.box > button{
    width: 200px;
    padding: 1%;
    color: white;
    background-color: #90C320;
    border: 0;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 2% 0;
}

label:hover , button:hover{
    cursor: pointer;
}

input:checked + .address{
    background-color: #e6e6e6;
    border: 1px solid #136A5A;
}