body{
    grid-template-areas: "side top"
                         "side main"
                         "side bottom"
}

main .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
}

main .box{
    /* + de 1 endereço 
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    padding: 5% 0 10% 0; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address{
    border: 3px solid green;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    padding: 1%;
    border: 1px solid #90C320;
    border-radius: 20px;
    line-height: 1.2em;
    /* - de 1 endereço */
    width: 40%;
    margin-bottom: 2%;
}

.address h3{
    color: #90C320;
    font-size: 2em;
    margin: 4% 0;
}

.address ul li{
    color: grey;
    font-size: 1.15em;
    line-height: 1.35em;
}

.address ul li strong{
    font-weight: 500;
    color: #136A5A;
    font-size: 1.2em;
}

.address ul li strong.st{
    margin-left: 3%;
}

.bottom{
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 20vw; 
    text-align: center;  
    width: 80vw;
    height: 10vh;
    background-color: white; 
}

.bottom button{
    padding: 1% 2%;
    color: white;
    background-color: #90C320;
    border: 0;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0 auto;
    cursor: pointer;
}

.returnNewCollect{
    border: 0;
    background-color: white;
    color: #136A5A;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    left: 20vw;
}