.registerAddress{
    margin-top: 2%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerAddress input{
    border-radius: 10px;
    border: 2px solid #136A5A;
    margin-bottom: 3%;
    font-size: 1em;
    
}

.registerAddress label{
    color: #136A5A;
    font-size: 1.5em;
    margin-bottom: 2%;
}

.registerAddress button{
    border: 0;
    border-radius: 20px;
    background-color: #90C320;
    color: white;
    margin: 4% auto 0 auto;
    font-size: 2em;
    text-transform: uppercase;
    padding: 1.5% 3%;
}

.registerAddress button:hover, .returnAddress:hover{
    cursor: pointer;
}

.returnAddress{
    border: 0;
    background-color: white;
    color: #136A5A;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 20vw;
}