.newCollect{
    /* display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 10%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newCollect h2{
    color: #90C320;
    font-size: 1.5em;
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
}

.newCollect h2:first-of-type{
    margin-top: 0;
}

.newCollect ul.materiais, .newCollect ul.dias{
    width: 62%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
	text-align: left;
	margin-left: 15%;
}

.newCollect ul.periodo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.newCollect ul.periodo li{
    padding-right:2%;
}

.newCollect button{
    padding: 1% 2%;
    color: white;
    background-color: #90C320;
    border: 0;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 4% auto;
    cursor: pointer;
}

/**/
.single-input{
    width: 70%;
	position: relative;
	margin-top: 8%;
}

.single-input label{
	position: absolute;
	bottom: 40%;
	left: 0;
	cursor: text;
	transition: all 0.5s ease-in-out;
	font-size: max(20px, 1.5vw);
}

.single-input input{
	width: 100%;
	
	margin-bottom: 2%;	
	border: 0;
	border-bottom: 2px solid #444444;
	outline: 0;
	font-size: max(18px ,1.2vw);
	transition: all 0.5s ease-in-out;
}

.single-input input:focus,
.single-input input:valid{
	border-bottom: 4px solid rgba(144, 135, 32, 0.4);
	
}

.single-input input:focus ~ label,
.single-input input:valid ~ label{ 
	transform: translateY(-2.5em);	
	font-size: max(14px ,1vw);
	color: #90C320;
}

#peso{
    width: 30%;
}

/* newCollect2 */
.top2{
    display: none;
}

.newCollect2{
    /* + de 1 endereço 
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    padding: 5% 0 10% 0; */
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newCollect2 label{
    width: 40%;
}

.address{
    border: 3px solid green;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    padding: 1%;
    border: 1px solid #90C320;
    border-radius: 20px;
    line-height: 1.2em;
    /* - de 1 endereço */
    width: 100%;
    margin-bottom: 2%;
    cursor: pointer;
}

.address h3{
    color: #90C320;
    font-size: 2em;
    margin: 4% 0;
}

.address ul li{
    color: grey;
    font-size: 1.15em;
    line-height: 1.35em;
}

.address ul li strong{
    font-weight: 500;
    color: #136A5A;
    font-size: 1.2em;
}

.address ul li strong.st{
    margin-left: 3%;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 20vw; 
    text-align: center;  
    width: 80vw;
    height: 10vh;
    background-color: white; 
}

.bottom button{
    padding: 1% 2%;
    color: white;
    background-color: #90C320;
    border: 0;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 0 auto;
    cursor: pointer;
}

.returnNewCollect{
    border: 0;
    background-color: white;
    color: #136A5A;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    left: 20vw;
    cursor: pointer;
}

.newCollect2 input[type="radio"]{
    display: none;
}

.newCollect2 input[type="radio"]:checked + label .address{
    background-color: rgb(250, 250, 250);
    border: 3px solid #136A5A;
}

.newCollect2 input[type="radio"]:checked + label .address h3{
    font-size: 2.2em;
}

.newCollect2 input[type="radio"]:checked + label .address ul li{
    color: rgb(77, 77, 77);
}