#scheduled{
    border-bottom: 1px solid #90C320;
}

main .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    box-shadow: 0 0 33px 10px #90C320;
    border-radius: 20px;
}